.join-page{

    min-height:calc(100vh - 90px);
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:stretch;
    .join-left,
.join-right{
}

    display:grid;

    grid-template-columns:1fr 1fr;

    background:linear-gradient(
rgba(0,0,0,.82),
rgba(0,0,0,.82)
),
url("../images/hero.jpeg");

background-size:cover;

background-position:center;;

    padding:120px 8% 80px;

    gap:60px;

}

.join-left{

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.join-left h1{

    font-size:58px;

    color:#fff;

    line-height:1.1;

}

.join-left p{

    color:#bbb;

    font-size:18px;

    margin-top:25px;

    line-height:1.8;

}

.join-right{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(20px);

    border-radius:20px;

    padding:40px;

    border:1px solid rgba(255,255,255,.08);

}
.join-form{

    display:flex;

    flex-direction:column;

    gap:18px;

    margin-top:30px;

}

.join-form input{

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.08);

    padding:16px 18px;

    border-radius:12px;

    color:#fff;

    font-size:16px;

    outline:none;

    transition:.3s;

}

.join-form input::placeholder{

    color:#999;

}

.join-form input:focus{

    border-color:#00B36B;

    box-shadow:0 0 20px rgba(0,179,107,.3);

}

.join-form button{

    margin-top:15px;

    background:#00B36B;

    color:#fff;

    border:none;

    padding:18px;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

.join-form button:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 30px rgba(0,179,107,.35);

}
.tag{

    display:inline-block;

    background:rgba(0,179,107,.15);

    color:#00B36B;

    padding:8px 16px;

    border-radius:30px;

    margin-bottom:25px;

    font-size:14px;

    font-weight:600;

}

.benefits{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:15px;

    margin-top:35px;

    color:white;

}

.benefits div{

    background:rgba(255,255,255,.04);

    padding:14px;

    border-radius:12px;

}

.stats{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

    margin-top:50px;

}

.stat-card{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    padding:25px;

    border-radius:16px;

    text-align:center;

}

.stat-card h2{

    color:#00B36B;

    font-size:34px;

    margin-bottom:10px;

}

.stat-card p{

    color:#ccc;

}.form-heading{

    margin-top:25px;

    margin-bottom:10px;

    color:#00B36B;

    font-size:18px;

    font-weight:600;

}.join-form select{

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.08);

    padding:16px;

    border-radius:12px;

    color:#fff;

    font-size:16px;

    outline:none;

}